.background-section {
  position: absolute;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper-item {
  position: fixed;
  width: 577px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  top: 81px;
}

.item-header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 7px #00000029;
  border-radius: 6px 6px 0px 0px;
}

.item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.item-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.login-text {
  color: #20b716;
  font: normal normal normal 29px/35px Josefin Sans;
}

.item-form {
  width: 385px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input-field {
  padding: 12px;
  border-bottom: 2px solid #e2e8f0;
}

.input-field::placeholder {
  color: #20b716;
  font: normal normal normal 16px/19px Josefin Sans;
}

.input-field:focus {
  outline: none;
}

.error-message {
  color: #ee2d6e;
  font: normal normal normal 13px/19px Josefin Sans;
}

.signIn-btn {
  color: #ffffff;
  font: normal normal normal 19px/23px;
  background: #20b716;
  padding: 15px 0px;
  border-radius: 40px;
}

.signIn-btn:hover {
  background-color: #19d819;
}

.forgot-text {
  color: #000000;
  font: normal normal normal 14px/18px;
}

.forgot-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signUp-text {
  color: #d9185f;
  font: normal normal normal 14px/18px;
}

.signUp-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.or-text {
  font: normal normal normal 16px/19px;
}

.google-btn {
  padding: 15px 0px;
  color: #ffffff;
  font: normal normal 600 14px/18px;
  background-color: #1877f2;
  background-image: url("/src//assets//images/png/google.png");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 8px;
}

.google-btn:hover {
  background-color: #4285f4;
}

.facebook-btn {
  padding: 15px 0px;
  color: #ffffff;
  font: normal normal 600 14px/18px;
  background-color: #1877f2;
  background-image: url("/src//assets//images/png/facebook.png");
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 8px;
}

.facebook-btn:hover {
  background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
  .wrapper-item {
    position: unset;
  }
}
